
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

/* Add these styles for dark mode */
body.dark-mode {
  background-color: #000;
  color: #fff;
}

a {
  color: #149ddd;
  text-decoration: none;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# dark mode button
--------------------------------------------------------------*/
/* Add styles for the button */
#darkModeToggle {
  background-color: #149ddd;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, transform 0.3s;
}

#toggleIcon {
  margin-right: 8px;
}

/* Add styles for the button in dark mode */
body.dark-mode #darkModeToggle {
  background-color: #2eafec;
  color: #fff;
}

/* Add hover effect */
#darkModeToggle:hover {
  background-color: #2eafec;
}

/* Add active effect */
#darkModeToggle:active {
  transform: scale(0.95);
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #149ddd;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #2eafec;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  padding: 10px 20px;
  background-color: rgba(4, 11, 20, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links a {
  margin-right: 15px;
}

#navbar {
  margin-left: auto;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar li {
  margin-left: 15px;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
  color: #149ddd;
}



/* #header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }
} */

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
/* .nav-menu {
  padding: 30px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
  color: #149ddd;
} */

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #149ddd;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
#home {
  width: 100%;
  height: 100vh;
  background: url("../img/Wallpaper4.jpg") top center;
  background-size: cover;
}

#home:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#home .home-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#home h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#home p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#home p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #home h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #home h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #149ddd;
  line-height: 0;
}

.about .content p {
  text-align: center; /* Center-align the text */
}

.about .content button {
  display: inline-block;
  margin-top: 20px; /* Adjust the margin as needed */
}

.about .content p:last-child {
  margin-bottom: 0;
}



/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts {
  padding-bottom: 30px;
}

.facts .count-box {
  padding: 30px;
  width: 100%;
}

.facts .count-box i {
  display: block;
  font-size: 44px;
  color: #149ddd;
  float: left;
  line-height: 0;
}

.facts .count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: #050d18;
  margin-left: 60px;
}

.facts .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #122f57;
}

.facts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #122f57;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.facts .count-box a:hover {
  color: #1f5297;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/

.resume .resume-content {
  padding: 20px;
  background-color: #E6FAFF;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.resume .resume-content:hover {
  transform: scale(1.05);
}

.resume .resume-content h4 {
  color: #3498db;
}

.resume .resume-content h5 {
  font-size: 16px;
  background: #3498db;
  color: #fff;
  padding: 5px 10px;
  display: inline-block;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 10px;
}

.resume .resume-content p {
  color: #616161;
}

.resume .grade {
  color: #fed3b1;
  font-weight: bold;
  margin-top: 10px;
}


/* .resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
} */

/*--------------------------------------------------------------
# Portfolio/ skills
--------------------------------------------------------------*/


.skills  {
  background-color: #f8f9fa;
  padding: 80px 0;
}

/* .container {
  max-width: 960px;
  margin: 0 auto;
} */

.skill {
  margin-bottom: 20px;
}

.skill-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.progress-bar {
  position: relative;
  height: 20px;
  background-color: #3477b9;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 5px;
}

.progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--progress-width, 0);
  background-color: #3498db;
  border-radius: 5px;
  transition: width 1s ease;
}

[data-width]::before {
  width: var(--progress-width, 0%);
}

.progress-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f3eeee;
  font-size: 12px;
}

.progress-point {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 10px;
  background-color: #3498db;
  border-radius: 0 5px 5px 0;
}

/*--------------------------------------------------------------
# project section
--------------------------------------------------------------*/

/* body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
} */

/* Project Section Styles */
/* #projects {
  background-color: #f8f9fa; 
  padding: 80px 0;
}

.project-container {
  max-width: 1200px;
  margin: 0 auto;
}

h2, h3, h4, p {
  margin: 0;
}


.project-subsection {
  margin-bottom: 60px;
}


.project {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.project:hover {
  transform: translateY(-5px);
}


.project-image {
  flex: 0 0 100%;
  max-width: 100%;
  height: auto;
}

.project-image img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


.project-description {
  flex: 0 0 100%;
  background-color: #fff; 
  padding: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.project-description h4 {
  color: #3498db; 
  margin-bottom: 10px;
}

.project-description p {
  color: #555; 
  line-height: 1.6;
}


@media (min-width: 768px) {
  .project {
    flex-wrap: nowrap;
  }

  .project-image {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .project-description {
    flex: 0 0 60%;
    max-width: 60%;
  }
} */

/*--------------------------------------------------------------
# project section final
--------------------------------------------------------------*/

 #projects .project-container {
  background-color: #ececec(255, 160, 122, 0.9);
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.projects {
  background: linear-gradient(to right, #00B4E4, #d3d3d3);
  background-color: #fff;
  padding: 50px 0;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.project{
  background-color: #e2e8fe;
}

.project-subsection {
  margin-bottom: 40px;
  background-color: #fee6d2;
}

.project {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.project-link {
  cursor: pointer;
}


.project:hover {
  transform: translateY(-5px);
}

.project-image {
  flex: 1;
}

.project-image img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.project-description {
  flex: 2;
  padding: 20px;
  text-align: left;
}






h2,
h3,
h4 {
  color: #333;
}

h2 {
  color: #333;
}

h3 {
  color: #333;
}

p {
  color: #555;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .project {
      flex-direction: column;
  }
} 


/*--------------------------------------------------------------
# certficate Details
--------------------------------------------------------------*/

  .certificate{
    background-color: #e8e8e8;
  }

 .certificate .certificate-item {
  margin-bottom: 30px;
}

.certificate #certificate-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.certificate #certificate-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.certificate #certificate-flters li:hover,
.certificate #certificate-flters li.filter-active {
  color: #149ddd;
}

.certificate #certificate-flters li:last-child {
  margin-right: 0;
}

.certificate .certificate-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.certificate .certificate-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.certificate .certificate-wrap .certificate-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}

.certificate .certificate-wrap .certificate-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  background: rgba(20, 157, 221, 0.75);
  transition: 0.3s;
  width: 50%;
}

.certificate .certificate-wrap .certificate-links a:hover {
  background: rgba(20, 157, 221, 0.95);
}

.certificate .certificate-wrap .certificate-links a+a {
  border-left: 1px solid #37b3ed;
}

.certificate .certificate-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.certificate .certificate-wrap:hover .certificate-links {
  opacity: 1;
  bottom: 0;
} 

/*--------------------------------------------------------------
# certificate Details
--------------------------------------------------------------*/

/* Add your global styles here */



/* Customize as needed */


.certificate-details {
  padding-top: 40px;
}

.certificate-details .certificate-details-slider img {
  width: 100%;
}

.certificate-details .certificate-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.certificate-details .certificate-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #149ddd;
}

.certificate-details .certificate-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #149ddd;
}

.certificate-details .certificate-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(5, 13, 24, 0.08);
}

.certificate-details .certificate-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.certificate-details .certificate-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.certificate-details .certificate-info ul li+li {
  margin-top: 10px;
}

.certificate-details .certificate-description {
  padding-top: 30px;
}

.certificate-details .certificate-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.certificate-details .certificate-description p {
  padding: 0;
}  

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/




/* dont change the code */

 .services {
  padding: 80px 0;
  background-color: #f8f9fa;
}

.section-title {
  text-align: center;
}

.dropdown {
  margin-top: 20px;
}

.dropdown-toggle {
  width: 100%;
  text-align: left;
  background-color: #007bff;
  color: #fff;
}

.dropdown-item {
  padding: 10px;
}

.dropdown-menu {
  position: absolute !important;
  will-change: transform !important;
  top: 100% !important;
  left: 0 !important;
  transform: translate3d(0, 0, 0) !important;
  border: 1px solid #007bff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.dropdown-item:hover {
  background-color: #007bff;
  color: #fff;
} 


/* Add any additional styles as needed */







/* .services .icon-box {
  margin-bottom: 20px;
}

.services .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #149ddd;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #149ddd;
}

.services .icon i {
  color: #fff;
  font-size: 24px;
  line-height: 0;
}

.services .icon-box:hover .icon {
  background: #fff;
}

.services .icon-box:hover .icon i {
  color: #149ddd;
}

.services .title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #343a40;
}

.services .title a:hover {
  color: #149ddd;
}

.services .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
} */



/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 130px;
}

.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #149ddd;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #149ddd;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 15px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #149ddd;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #37b3ed;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background: #f9f9f9;
}

.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #0e2442;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/* #footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: #040b14;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
} */

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}

footer p {
  margin: 0;
}

/* Add more styles as needed */
